#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fefefe;
}

#root.dark{
  filter: invert(100%);
}
* { 
  background-color: inherit;
}
.start_registration_btn {
  width: fit-content;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.start_registration_btn:before, .start_registration_btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.start_registration_btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.start_registration_btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.start_registration_btn:hover:before, 
.start_registration_btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.start_registration_btn:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.start_registration_btn:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.start_registration_btn:hover {
  background: rgba(255, 255, 255, .2);
}


.App {
  text-align: center;
  border: 2px solid #e2e2e2;
  width: 350px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.App form div{
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}


input, .input{
  width: 95%;
  height: 20px;
  padding: 2px 10px;
  margin-right: 10px;
}

.ampty-input{
  border: 1px solid red;
  
}
.ampty-input::placeholder{
  color: red;
}


input[type=file]{
  height: 30px;
}

label{
  margin-bottom: 10px;
  font-weight: 600;
}
button{
  width: 100px;
  height: 35px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
}

.next_btn{
  background-color: #aeff9e;
}

.logo-img{
  width: 70px;
  height: 70px;
  margin: 4px;
  border-radius: 50%;
}

.logo-img:hover{
  border: 1px solid blue;
  cursor: pointer;

}

.logo-img.chosen{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(1.1);
}
.logo-img.dark, .logo-img:hover.dark, .logo-img.chosen.dark, .final-logo.dark{
  filter: invert(100%);
}

.chosen_logo{
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-around;
  flex-direction: row !important;

}

/* Final page */

#thank_you{
  display: flex;
  flex-direction: column;
  
}

#thank_you h2{
  margin: 0 0 10px 0;
}
#thank_you p{
  margin: 3px;
}

#thank_you p:first-child{
  font-weight: 500;
}

#thank_you img{
  height: 100px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 50%;
  align-self: center;
}

#thank_you .contact_information div{
  display: flex;
  margin-left: 30px;
}